version: '3.8'

services:
  php-cli:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - .:/app
      - ../audit-class-generator:/audit-class-generator
    working_dir: /app
    stdin_open: true
    tty: true
