<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mein PHP Projekt{% endblock %}</title>
</head>
<body class="page page-start">
    <header>
        <h1>Willkommen zum Twig-Test</h1>
        <nav class="nav-main">
            <ul>
                <li><a href="index.php">Home</a></li>
            </ul>
        </nav>
    </header>

    <main id="main">
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; {{ "now"|date("Y") }} - Erstellt mit Twig</p>
    </footer>
</body>
</html>
